---
layout: default
title: secretmyth
matrix_rain: true
matrix_line: true
---
<div class="corner-social">
    <a href="/info/">info</a>
</div>
<ul class="drops">
    {% for post in site.posts %}
    <li>
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <a class="title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <div class="tags">
            {% for tag in post.tags %}
            <a class="tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>
